@font-face {
  font-family: "AkzidenzGroteskPro-Md";
  src: url("/../../assets/fonts/AkzidGroProMed.woff") format("woff"),
    url("/../../assets/fonts/AkzidGroProMed.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AkzidenzGroteskPro-Regular";
  src: url("/../../assets/fonts/AkzidGroProReg.woff/fonts/AkzidGroProReg.woff") format("woff"),
    url("/../../assets/fonts/AkzidGroProReg.woff2/fonts/AkzidGroProReg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}