.project-line {
    padding: $s-5 $s-3;
    height: $card;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
        padding: $s-6 0 $s-3;
        margin: 0 $s-5;
        background: $white !important;
        flex-direction: row;
        align-items: baseline;
        height: auto;


        &:after {
            content: '';
            width: 100%;
            height: 1px;
            bottom: 0;
            background-color: $grey-hover;
            left: 0;
            position: absolute;

        }

        &:hover:after {
            // height: 2px;
            background-color: $black;
        }

    }



    &__title {
        font-size: $h2;
        font-weight: normal;


        @include tablet {
            letter-spacing: 0.02em;
            font-size: $h4;


        }

        @include medium {
            font-size: $h2;
        }


    }

    &__subline {
        font-size: 15px;
        padding-top: $s-2;
        letter-spacing: 0.015em;

        @include tablet {
            display: none;
            font-size: $caption;

        }
    }

    &__details {
        border-top: 1px solid $black;
        display: flex;
        justify-content: space-between;
        padding-top: $s-3;
        font-size: $paragraph-line;
        letter-spacing: 0.05em;

        @include tablet {
            border-top: none;
            width: 250px;
            display: flex;
            font-size: $paragraph-line-small;

        }

        @include medium {
            width: 270px;
            font-size: $paragraph-line;
        }
    }

    &__category {
        @include tablet {
            justify-self: center;

        }
    }

    &__projectPage {
        padding: $s-5 $s-3;
        // height: 150px;
        min-height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include tablet {
            padding: $s-6 0 $s-3;
            margin: 0 $s-5;
            background: $white !important;
            flex-direction: row;
            align-items: flex-end;
            height: auto;
            min-height: auto;
            border-top: 1px solid $grey-underline;
        }
    }

    &__projectPage-subline {
        font-size: 15px;
        padding-top: $s-2;
        letter-spacing: 0.015em;
    }
}

.tooltip {
    text-decoration: none;
    position: relative;
}

.tooltip span {
    display: none;
}

#maw-print,
#about,
#lala-berlin,
#schrot-korn,
#gruene,
#instruct,
#body-loom,
#parma {
    visibility: hidden;

    @include tablet {
        visibility: visible;
    }
}


.tooltip:hover span {
    display: block;
    position: fixed;
    overflow: hidden;
    z-index: 100;
}