<footer class="footer-project">
    <div class='footer-project__channels'>

        <a href="/projects/about/" alt="about" class="footer-project__about shake">about</a>
        <a href="/contact" alt="imprint" class="footer-project__imprint shake">imprint</a>
        <a href="https://www.linkedin.com/in/marina-wilhelm/" alt="linkedin"
            class="footer-project__linkedin shake">linkedin</a>
        <a href="https://github.com/Arnoldovna" alt="github" class="footer-project__github shake">github</a>
        <a href="mailto:marina.wilhelm@icloud.com" alt="email" class="footer-project__email shake">email</a>
    </div>
    <span class="footer-project__copyright"></span>
</footer>