{% for project in site.data.projects %}
<a href="/{{project.project}}" alt="{{project.project}} project" class='project-line tooltip'>
    <span id="{{project.project}}">
        <img alt="" src="{{project.img}}" />
    </span>
    <div class='project-line__header'>
        <h2 class='project-line__title'>
            {{project.title}}
        </h2>
        <p class='project-line__subline'>{{project.subline}}</p>
    </div>
    <div class='project-line__details'>
        <p class='project-line__category'>{{project.category}}</p>
        <p class='project-line__year'>{{project.year}}</p>
    </div>
</a>
{% endfor %}