{% assign projects = site.projects | sort: 'n' %}
{% for project in projects %}
<a href="{{site.baseurl}}/projects/{{project.project}}" alt="{{project.project}} project"
    style="background-color:{{ project.color }};" class='project-line tooltip hook' data-aos="fade-in"
    data-aos-delay='200'>
    <span id="{{project.project}}">
        <img alt="" src="{{{{site.baseurl| prepend: site.url }}{{project.img}}" />
    </span>
    <div class='project-line__header'>
        <h2 class='project-line__title'>
            {{project.title}}
        </h2>
        <p class='project-line__subline'>{{project.subline}}</p>
    </div>
    <div class='project-line__details'>
        <p class='project-line__category'>{{project.category}}</p>
        <p class='project-line__year'>{{project.year}}</p>
    </div>
</a>
{% endfor %}