<a href="/maw-print" alt="maw-print project" class='project-line tooltip'>
    <span id="maw-print">
        <img alt="" src="http://www.google.com/images/srpr/logo4w.png" />
    </span>
    <div class='project-line__header'>
        <h2 class='project-line__title'>
            instruct app
        </h2>
        <p class='project-line__subline'>An instruction app to build furniture.</p>
    </div>
    <div class='project-line__details'>
        <p class='project-line__category'>UI/UX & Development</p>
        <p class='project-line__year'>2020</p>
    </div>
</a>