<html>
{% include head.html %}

<body>
    <div class='layout'>
        {% include header.html %}
        {{content}}
        {% if page.permalink == '/' or page.permalink == '/contact'%}
        {% include footer.html %}
        {% else %}
        {% include footer-project.html %}
        {% endif %}
    </div>
    {% if page.title =='home' %}
    <script type="text/javascript" src="{{ site.baseurl | prepend: site.url }}assets/js/tooltip.js"></script>
    {% endif %}

    {% if page.title !='project' %}
    <script type="text/javascript" src="{{ site.baseurl | prepend: site.url }}assets/js/transitions.js"></script>
    {% endif %}
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>